[Unit]
Description=Run Minecraft reset once a day 

[Timer]
Unit=modded-restart.service
OnCalendar=*-*-* 3:00:00
Persistent=true

[Install]
WantedBy=timers.target